<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log into heya</title>
    <link rel="icon" type="image/gif" href="../images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html {
            position: relative;
            background: url(../images/bck.jpg) no-repeat;
            background-size: cover;
            height: 100%;
            overflow-y: hidden;
        }
        .container{
            height: 80vh;
            width: 50%;
            margin: 5% auto;
            background-color: white;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
            overflow-y: auto;
            overflow-x: hidden;
        }
        .btn {
            background-color: #A569BD;
        }
        .btn:hover {
            background-color: #BB8FCE;
        }
        .input-field input[type=text]:focus + label {
            color: #A569BD !important;
        }
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #A569BD !important;
            box-shadow: 0 1px 0 0 #A569BD !important;
        }
        .input-field input[type=password]:focus + label {
            color: #A569BD !important;
        }
        .input-field input[type=password]:focus {
            border-bottom: 1px solid #A569BD !important;
            box-shadow: 0 1px 0 0 #A569BD !important;
        }

        @media (max-width: 800px) {
            .container{
                width: 80%;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="center-align">
        <h2 style="font-family: 'cursive'; color: #9B59B6">heya!</h2>
        <div style="font-weight: bold"><h4>Sign in</h4></div>
        <div><h6>to continue to heya...</h6></div>
    </div>
    <br><br>
    <form method="post" action="/user/login">
        <div class="row">
            <div id="err" style="color: {{color}}; opacity: 0.6;text-align: center" >{{msg}}</div>
            <div class="input-field col s8 offset-s2">
                <input id="user_name" type="text" class="validate" name="username">
                <label for="user_name">User Name</label>
            </div>
            <br>
            <div class="input-field col s8 offset-s2">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="center-align submit" style="margin: 6%">
            <button class="btn waves-effect waves-light" type="submit">Log in
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div style="text-align: center" ><a href="../signup.html" style="color: #A569BD">or Create New Account</a></div>
    </form>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    let inp = document.getElementById('user_name');
    let err = document.getElementById('err');

    inp.onkeydown = function () {
        err.innerHTML = '';
    }
</script>
</body>
</html>