<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="icon" type="image/gif" href="../images/logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html {
            position: relative;
            background: url(../images/bck.jpg) no-repeat;
            background-size: cover;
            height: 100%;
            overflow-y: hidden;
        }
        .container{
            height: 95vh;
            width: 50%;
            margin: 1% auto;
            background-color: white;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .4);
            overflow-y: auto;
            overflow-x: hidden;
        }
        .btn {
            background-color: #A569BD;
        }
        .btn:hover {
            background-color: #BB8FCE;
        }
        .input-field input[type=text]:focus + label {
            color: #A569BD !important;
        }
        .input-field input[type=text]:focus {
            border-bottom: 1px solid #A569BD !important;
            box-shadow: 0 1px 0 0 #A569BD !important;
        }
        .input-field input[type=password]:focus + label {
            color: #A569BD !important;
        }
        .input-field input[type=password]:focus {
            border-bottom: 1px solid #A569BD !important;
            box-shadow: 0 1px 0 0 #A569BD !important;
        }

        @media (max-width: 800px) {
            .container{
                width: 80%;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="center-align">
        <h2 style="font-family: 'cursive'; color: #9B59B6">heya!</h2>
        <div style="font-weight: bold"><h4>Welcome to heya</h4></div>
        <div><h6>Sign to continue...</h6></div>
    </div>
    <br>
    <form method="post" action="/user/signup">
        <div class="row">
            <div id="errExists" style="color: red; opacity: 0.6;text-align: center" >{{msgExists}}</div>
            <div class="input-field col s4 offset-s2">
                <input id="fname" type="text" class="validate" name="firstname">
                <label for="fname">First Name</label>
            </div>
            <div class="input-field col s4">
                <input id="lname" type="text" class="validate" name="lastname">
                <label for="lname">Last Name</label>
            </div>
            <div class="input-field col s8 offset-s2">
                <input id="user_name" type="text" class="validate" name="username">
                <label for="user_name">Choose User Name</label>
            </div>
            <br>
            <div class="input-field col s8 offset-s2">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s8 offset-s2">
                <input id="cpassword" type="password" class="validate" name="cpassword">
                <label for="cpassword">Confirm Password</label>
            </div>
        </div>
        <div id="errPassword" style="color: rgba(255,0, 0,0.6);text-align: center" >{{msgPassword}}</div><br>
        <div class="center-align submit">
            <button class="btn waves-effect waves-light" type="submit">Sign Up
                <i class="material-icons right">send</i>
            </button>
        </div>
        <br>
        <div style="text-align: center" ><a href="../login.html" style="color: #A569BD">Already have an Account?</a></div>
    </form>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    let inp = document.getElementById('fname');
    let errExists = document.getElementById('errExists');
    let errPassword = document.getElementById('errPassword');

    inp.onkeydown = function () {
        errExists.innerHTML = '';
    };

    inp.onkeydown = function () {
        errPassword.innerHTML = '';
    };

</script>
</body>
</html>